.category-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: .5rem;

  input[type='checkbox'] {
    display: none;
  }

  .category-item--mark {
    width: 20px;
    height: 20px;
    border: 2px solid var(--heading-bg);
    border-radius: var(--base-radius);
    background-color: var(--base-white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, border-color 0.2s;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border: solid var(--base-white);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      display: none;
    }
  }

  input[type='checkbox']:checked + .category-item--mark {
    background-color: var(--heading-bg);
    border-color: var(--heading-bg);

    &::after {
      display: block;
    }
  }

  .category-item__label {
    font-size: 1rem;
    color: var(--text-secondary-color);
  }
}
